En este ejercicio buscaremos clasificar a prospectos de empresario de acuerdo a su probabilidad de éxito con base en las variables disponibles

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.metrics import classification_report,confusion_matrix 
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [3]:
df = pd.read_csv("C:\ITAM\ML\modeling.csv",index_col='Customer', encoding="ISO-8859-1")

In [4]:
df.head()

           Gender  FullTimeJ  ExEmpl  Educ  Married  EconDep  Tec  Success
Customer
100688185       1          0       0     1        1        0    1        1
100573145       1          0       0     0        0        1    0        0
100688175       0          0       1     0        0        0    0        0
100573160       0          0       0     1        0        0    0        0
100303428       0          0       0     1        0        0    1        0

In [5]:
df.describe()

,Gender,FullTimeJ,ExEmpl,Educ,Married,EconDep,Tec,Success
count,3650.000000,3650.00000,3650.000000,3650.000000,3650.000000,3650.000000,3650.000000,3650.000000
mean,0.405753,0.08411,0.088767,0.471781,0.752055,0.429041,0.502192,0.252055
std,0.491105,0.27759,0.284446,0.499271,0.431879,0.495007,0.500064,0.434252
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,1.000000,0.00000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df=df[['Gender', 'FullTimeJ', 'ExEmpl', 'Educ', 'Married', 'EconDep', 'Tec', 'Success']]

In [7]:
df = df.dropna()

In [8]:
X = df.drop('Success', axis=1)
y = df['Success']

In [9]:
# dividimos en train y test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
# generamos el modelo

RF=RandomForestClassifier(criterion='gini', min_samples_split=2,n_estimators=1000)
RF.fit(X_train,y_train) 
pred=RF.predict(X_test) 
from sklearn.metrics import classification_report,confusion_matrix 
print(classification_report(y_test,pred))
print(confusion_matrix(y_test,pred))

             precision    recall  f1-score   support

          0       0.76      0.99      0.86       693
          1       0.45      0.02      0.04       220

avg / total       0.69      0.76      0.66       913

[[687   6]
 [215   5]]

In [11]:
cm=confusion_matrix(y_test,pred)
sns.heatmap(cm,cmap='viridis')# font size

In [12]:
#Probamos Adaboost
AB=AdaBoostClassifier()
AB.fit(X_train,y_train)
predab=AB.predict(X_test) 
from sklearn.metrics import classification_report,confusion_matrix 
print(classification_report(y_test,predab))
print(confusion_matrix(y_test,predab))

             precision    recall  f1-score   support

          0       0.76      1.00      0.86       693
          1       0.00      0.00      0.00       220

avg / total       0.58      0.76      0.66       913

[[693   0]
 [220   0]]

C:\Users\32154410\AppData\Local\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

Los datos no son óptimos para predecir el éxito